<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lboeri.boeriapi.dao.singleton.ApiConfigSgMapper">
  <resultMap id="BaseResultMap" type="com.lboeri.boeriapi.dao.generator.entity.ApiConfig">
    <id column="API_ID" jdbcType="VARCHAR" property="apiId" />
    <result column="API_NAME" jdbcType="VARCHAR" property="apiName" />
    <result column="API_IP" jdbcType="VARCHAR" property="apiIp" />
    <result column="API_PORT" jdbcType="VARCHAR" property="apiPort" />
    <result column="API_PARH" jdbcType="VARCHAR" property="apiParh" />
    <result column="QUERY_PARAMS" jdbcType="VARCHAR" property="queryParams" />
    <result column="SQL_PARAMS" jdbcType="VARCHAR" property="sqlParams" />
    <result column="DS_NAME" jdbcType="VARCHAR" property="dsName" />
    <result column="PUBLISH_FLAG" jdbcType="CHAR" property="publishFlag" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="API_STATUS" jdbcType="CHAR" property="apiStatus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lboeri.boeriapi.dao.generator.entity.ApiConfig">
    <result column="EXC_SQL" jdbcType="LONGVARCHAR" property="excSql" />
  </resultMap>
  <sql id="Base_Column_List">
    API_ID, API_NAME, API_IP, API_PORT, API_PARH, QUERY_PARAMS, SQL_PARAMS, DS_NAME,
    PUBLISH_FLAG, CREATE_USER, CREATE_DATE, UPDATE_USER, UPDATE_DATE, REMARK, API_STATUS
  </sql>
  <sql id="Blob_Column_List">
    EXC_SQL
  </sql>
  <select id="selectByEntity" parameterType="com.lboeri.boeriapi.dao.generator.entity.ApiConfig" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from e_api_config
    <where>
      <if test="apiName != null">
        API_NAME = #{apiName,jdbcType=VARCHAR}
      </if>
      <if test="apiIp != null">
        AND API_IP = #{apiIp,jdbcType=VARCHAR}
      </if>
      <if test="apiPort != null">
        AND API_PORT = #{apiPort,jdbcType=VARCHAR}
      </if>
      <if test="apiParh != null">
        AND API_PARH = #{apiParh,jdbcType=VARCHAR}
      </if>
      <if test="queryParams != null">
        AND QUERY_PARAMS = #{queryParams,jdbcType=VARCHAR}
      </if>
      <if test="sqlParams != null">
        AND SQL_PARAMS = #{sqlParams,jdbcType=VARCHAR}
      </if>
      <if test="dsName != null">
        AND DS_NAME = #{dsName,jdbcType=VARCHAR}
      </if>
      <if test="publishFlag != null">
        AND PUBLISH_FLAG = #{publishFlag,jdbcType=CHAR}
      </if>
      <if test="createUser != null">
        AND CREATE_USER = #{createUser,jdbcType=VARCHAR}
      </if>
      <if test="createDate != null">
        AND CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUser != null">
        AND UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="updateDate != null">
        AND UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="remark != null">
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="apiStatus != null">
        AND API_STATUS = #{apiStatus,jdbcType=CHAR}
      </if>
      <if test="excSql != null">
        AND EXC_SQL = #{excSql,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByEntity" parameterType="com.lboeri.boeriapi.dao.generator.entity.ApiConfig">
    delete from e_api_config
    <where>
      <if test="apiName != null">
        API_NAME = #{apiName,jdbcType=VARCHAR}
      </if>
      <if test="apiIp != null">
        AND API_IP = #{apiIp,jdbcType=VARCHAR}
      </if>
      <if test="apiPort != null">
        AND API_PORT = #{apiPort,jdbcType=VARCHAR}
      </if>
      <if test="apiParh != null">
        AND API_PARH = #{apiParh,jdbcType=VARCHAR}
      </if>
      <if test="queryParams != null">
        AND QUERY_PARAMS = #{queryParams,jdbcType=VARCHAR}
      </if>
      <if test="sqlParams != null">
        AND SQL_PARAMS = #{sqlParams,jdbcType=VARCHAR}
      </if>
      <if test="dsName != null">
        AND DS_NAME = #{dsName,jdbcType=VARCHAR}
      </if>
      <if test="publishFlag != null">
        AND PUBLISH_FLAG = #{publishFlag,jdbcType=CHAR}
      </if>
      <if test="createUser != null">
        AND CREATE_USER = #{createUser,jdbcType=VARCHAR}
      </if>
      <if test="createDate != null">
        AND CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUser != null">
        AND UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="updateDate != null">
        AND UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="remark != null">
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="apiStatus != null">
        AND API_STATUS = #{apiStatus,jdbcType=CHAR}
      </if>
      <if test="excSql != null">
        AND EXC_SQL = #{excSql,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </delete>

</mapper>