<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lboeri.boeriapi.dao.generator.SysUserRoleEntityMapper">
  <resultMap id="BaseResultMap" type="com.lboeri.boeriapi.dao.generator.entity.SysUserRoleEntity">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_DEFAUL" jdbcType="CHAR" property="roleDefaul" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_CODE, ROLE_CODE, ROLE_DEFAUL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_USER_ROLE_REF
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SYS_USER_ROLE_REF
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lboeri.boeriapi.dao.generator.entity.SysUserRoleEntity">
    insert into SYS_USER_ROLE_REF (ID, USER_CODE, ROLE_CODE, 
      ROLE_DEFAUL)
    values (#{id,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{roleDefaul,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lboeri.boeriapi.dao.generator.entity.SysUserRoleEntity">
    insert into SYS_USER_ROLE_REF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="roleCode != null">
        ROLE_CODE,
      </if>
      <if test="roleDefaul != null">
        ROLE_DEFAUL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleDefaul != null">
        #{roleDefaul,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lboeri.boeriapi.dao.generator.entity.SysUserRoleEntity">
    update SYS_USER_ROLE_REF
    <set>
      <if test="userCode != null">
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null">
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleDefaul != null">
        ROLE_DEFAUL = #{roleDefaul,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lboeri.boeriapi.dao.generator.entity.SysUserRoleEntity">
    update SYS_USER_ROLE_REF
    set USER_CODE = #{userCode,jdbcType=VARCHAR},
      ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      ROLE_DEFAUL = #{roleDefaul,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>